[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==1.11.23"
pillow = "*"
gunicorn = "==19.9.0"
qrcode = "==6.0"

[requires]
python_version = "3.7"
